body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, "微软雅黑", sans-serif;
  background: #f8f8f8;
}
input, button {
  font-size: 1.2em;
  margin: 8px 0;
  padding: 8px;
}
.card-img {
  width: 60px;
  margin: 2px;
}
